.outer {
    height: 110vh;
    background-image: url(src\assets\Images\809.jpg);
    
}

.panel-heading {
    text-align: center;
    margin-bottom: 10%;
    border-width: 10px ;
    color: white;
    border-radius: 50px;
    height: 100px;
    width: 100px;
}
.junior-g{
    width: 429px;
}

.user-img {
    background-image: url(src\assets\Images\User-Avatar-PNG-Transparent-Image.png);
}

.remember {
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: intalic;
    text-align: left;
    padding-top: 10px;
}

.forget {
    min-width: 100px;
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: intalic;
    text-align: right;
    padding-top: 10px;
}



a:hover { 
    text-decoration: none;
}

a{ 
    text-decoration: none;
} 

.shaktimann{
    background-color: #0000d100;
}

.form-inline-label {
    padding-left: 10px;
    margin: 0%;
    cursor: pointer;
}

/* .btn {
    margin-top: 20px;
    background-color: #ddd;
} */

.login{
    margin-top: 20px;
    background-color: rgba(219, 12, 12, 0);
    width: 100%;
    color: #ddd;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #ddd;
}

.signup {
    margin-top: 20px;
    background-color: #ddd;
    width: 100%;
    border: #ddd;
    padding: 10px;
}

.panel {
    min-height: 380px;
    border-radius: 20px;
    margin-top: 150px;
    padding-top: 60px;
    width: 350px;
    position: absolute;
}

.form .box {
    display: flex;
}

.form .box .icon {
    width: 15%;
    overflow: hidden;
    font-size: 21px;
    padding: 8px 0;
    display: flex;
    align-items: center;
    padding-left: 15px;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: aliceblue; 
    margin: 8px 0;

}
.form-inline{
    margin: 0;
}

.border1 {
    border-width: 2px;
    border-style: solid;
    border-color: #ddd;
}

.input-field {
    width: 85%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #ddd; 
    margin: 8px 0;
}

.input-field.error {
    border: 1px solid red;
    color: red;
}

.camera {
    padding-top: 18px;
    color: white;
    border-width: 2px;
    border-style: solid;
    border-color: #ddd;
    border-radius: 50% ;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 40px;
    background-image: url(src\assets\Images\photoo.png);
}

.camera-outer{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    top: -50px;
}

input {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    color: rgb(19, 18, 18);
    background-color: #ddd;
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none;
}