<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border1 shaktimann">
          <div class="camera-outer" style="padding-left: 35%">
            <div class="camera">
              <i class="fa fa-thin fa-camera"></i>
            </div>
          </div>
          <div class="panel-body p-3">
            <div class="alert alert-danger" *ngIf="error" style="height: 50px; align-items: center;">
              <p>{{error}}</p>
            </div>
            <form [formGroup]="signupForm" class="form" (submit)="onSubmit()">
              <div class="box">
                <div class="icon">
                  <i class="fa fa-solid fa-user"></i>
                </div>
                <div
                  class="input-field"
                  [class.error]="
                    signupForm.controls['username'].dirty &&
                    signupForm.hasError('required', 'username')
                  "
                >
                  <input
                    class="shaktimann"
                    formControlName="username"
                    type="text"
                    placeholder="  Username"
                    #UserName
                  />
                </div>
              </div>
              <small
                *ngIf="
                  signupForm.controls['username'].dirty &&
                  signupForm.hasError('required', 'username')
                "
                class="text-danger"
                >*Username is required</small
              >
              <div class="box">
                <div class="icon" style="padding-left: 12px">
                  <i class="fa fa-solid fa-envelope"></i>
                </div>
                <div
                  class="input-field"
                  [class.error]="
                    signupForm.controls['email'].dirty &&
                    signupForm.hasError('required', 'email')
                  "
                >
                  <input
                    class="shaktimann"
                    formControlName="email"
                    type="text"
                    placeholder="  Email"
                  />
                </div>
              </div>
              <small
                *ngIf="
                  signupForm.controls['email'].dirty &&
                  signupForm.hasError('required', 'email')
                "
                class="text-danger"
                >*Email is required</small
              >
              <div class="box">
                <div class="icon" style="padding-left: 15px; font-size: 35px">
                  <i class="fa fa-solid fa-mobile"></i>
                </div>
                <div
                  class="input-field"
                  [class.error]="
                    signupForm.controls['mobile'].dirty &&
                    signupForm.hasError('required', 'mobile')
                  "
                >
                  <input
                    class="shaktimann"
                    formControlName="mobile"
                    type="text"
                    placeholder="  Molibe"
                  />
                </div>
              </div>
              <small
                *ngIf="
                  signupForm.controls['mobile'].dirty &&
                  signupForm.hasError('required', 'mobile')
                "
                class="text-danger"
                >*Mobile is required</small
              >
              <div class="box">
                <div class="icon" style="padding-left: 8px">
                  <i class="fa fa-lock p-2"></i>
                </div>
                <div
                  class="input-field"
                  [class.error]="
                    signupForm.controls['password'].dirty &&
                    signupForm.hasError('required', 'password')
                  "
                >
                  <input
                    class="shaktimann"
                    formControlName="password"
                    [type]="passType"
                    placeholder="  *********"
                  />
                  <!-- <span
                    class="fa {{ eyeIcon }}"
                    (click)="hideShowPass()"
                  ></span> -->
                </div>
              </div>
              <small
                *ngIf="
                  signupForm.controls['password'].dirty &&
                  signupForm.hasError('required', 'password')
                "
                class="text-danger"
                >*Password is required</small
              >
              <button type="submit" class="signup">REGISTER</button>
              <button type="button" class="login" routerLink="/login">
                LOGIN
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
